<div class="div container">
  <div class="row">
    <div class="col-xs-1">
      <button class="btn btn-info" (click)="reset()">Reset</button>
    </div>
    <div class="col-xs-3">
      <label for="x_size">Width</label><input class="form-control" type="text" #x_size value="10">
      <label for="y_size">Height</label><input class="form-control" type="text" #y_size value="10">
      <button class="btn btn-info" (click)="setXY(x_size.value, y_size.value)">Set Size</button>
    </div>
    <div class="col-xs-3">
      <label for="steps">Iterations</label><input class="form-control" type="text" #steps value="250">
      <label for="delay">Delay (ms)</label><input class="form-control" type="text" #delay value="5">
      <button class="btn btn-primary" (click)="advanceClick(steps.value, delay.value)">Start</button>
    </div>
  </div>
  <hr color="black">
</div>
